.input-group-wrapper {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 50px;
}

.input-group-wrapper input {
    width: 100%;
    height: 100%;
    padding: 12px 100px 12px 20px;
    border-radius: 25px;
    text-align: start;
    border: 0;
    background-color: aliceblue;
    box-sizing: border-box;
}

.input-task::placeholder {
    color: rgba(24, 50, 90, 0.87);
    opacity: 1;
}

.input-task {
    color: rgba(24, 50, 90, 0.87);
    font-weight: 600;
}

.btn-inside {
    position: absolute;
    font-weight: 600;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    padding: 12px 16px;
    border-radius: 20px;
    background-color: rgba(24, 50, 90, 0.87);
    color: aliceblue;
    border: none;
    cursor: pointer;
}