:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(24, 65, 126, 0.87);
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  text-align: start;
  min-width: 320px;
  min-height: 100vh;
}

.container {
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 8px;
  padding: 20px 40px;
  transition: all 0.3s ease-in;

  h1 {
    font-size: 3rem;
    line-height: 1.1;
  }
}

.container-light {
  box-shadow: 0 0 12px 2px rgba(24, 65, 126, 0.87);
  transform: translateY(-8px)
}