:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: aliceblue;
  background-image: url(src/assets/img.png);
  background-position: center;
  background-size: cover;

}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.container {
  background-color: transparent;
  border: 2px solid aliceblue;
  border-radius: 16px;
  backdrop-filter: blur(15px);
  padding: 20px 40px;
  transition: all 0.3s ease-in;

  h1 {
    font-size: 3rem;
    line-height: 1.1;
    margin: 0;
  }
}

.container-light {
  box-shadow: 0 0 12px 2px aliceblue;
  transform: translateY(-8px)
}

@media (max-width: 400px) {
  .container {
    padding: 10px 20px;
  }
}